<a href="https://colab.research.google.com/github/sagargahalod/Git-test/blob/branch1/CRF25_Recall.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
import json
import pandas as pd

In [220]:
with open("CFR25_GroundTruth.json", encoding='utf-8', errors='ignore') as json_data:
    GT = json.load(json_data, strict=False)

In [212]:
with open("CFR25_diff.json", encoding='utf-8', errors='ignore') as json_data1:
    diff = json.load(json_data1, strict=False)

In [84]:
LCW_Total = GT_Total = 0

Add_tot = Del_tol = Mod_tot = Identical_tot = 0

Mean_list = []

In [167]:
def Recall(LCW_Total,GT_Total):
  #calculation id level average
  Idrecall = LCW_Total / GT_Total
  print('The recall for id {0} is : {1}'.format(GT_Total.key,Idrecall))
  Mean_list.append(Idrecall)
  
  
  #calculation mean recall
  Meanrecall = sum(Mean_list) / len(Mean_list)
  print('The mean recall across the controls : {}'.format(Meanrecal))
  return Idrecall , Meanrecall

In [213]:
GT_Total1 = 0
for gt in GT:
  if gt['type'] in ('Added','Removed','Identical'):
    GT_Total1 +=1 
    print(gt['type'])
print(GT_Total1)

    #Recall(Tot)

Removed
Added
Added
3

In [231]:
GT_Total = 0
GT_id = {}
LCW_list = []
IDrecall_list = []
for gt in GT:
  if gt['type'] in ('Added','Removed','Identical'):
    GT_Total +=1 

  if gt['type'] == 'Modified':  
    GT_Total +=1     
  if gt['IdChange'] == "true":
    GT_Total +=1  
  if gt['Cntrl_Grp_Change'] == 'true':
    GT_Total +=1    
  if gt['Title_Change'] == 'true':
    GT_Total +=1
    
  #counting the changes related to subpart level
   
  GT_Total = GT_Total + len(gt['sub_identical']) + len(gt['sub_added']) + len(gt['sub_removed']) + len(gt['sub_modified'])
  GT_id[gt['id']] = GT_Total 

  print('Actual changes as per the Groundtruth for ID {0} : {1}'.format(gt['id'],GT_Total)) 
   
  
  Tool_result = comparison(gt)
  print('Changes captured by the tool for ID {0} : {1}'.format(gt['id'],Tool_result))
  LCW_list.append(Tool_result)

  ID_recall = (Tool_result/GT_Total)*100
  
  print('Recall for this ID : ',ID_recall)
  print('\n')
  IDrecall_list.append(ID_recall)
  GT_Total = 0

Total_recall = sum(IDrecall_list)/len(IDrecall_list) 
print('Total reacall : ',Total_recall)

Actual changes as per the Groundtruth for ID 25.26 : 16
Changes captured by the tool for ID 25.26 : 15
Recall for this ID :  93.75


Actual changes as per the Groundtruth for ID 25.21 : 9
Changes captured by the tool for ID 25.21 : 8
Recall for this ID :  88.88888888888889


Actual changes as per the Groundtruth for ID 25.27 : 22
Changes captured by the tool for ID 25.27 : 18
Recall for this ID :  81.81818181818183


Actual changes as per the Groundtruth for ID 25.63 : 6
Changes captured by the tool for ID 25.63 : 6
Recall for this ID :  100.0


Actual changes as per the Groundtruth for ID 25.12 : 5
Changes captured by the tool for ID 25.12 : 3
Recall for this ID :  60.0


Actual changes as per the Groundtruth for ID 25.25 : 14
Changes captured by the tool for ID 25.25 : 11
Recall for this ID :  78.57142857142857


Actual changes as per the Groundtruth for ID 25.11 : 10
Changes captured by the tool for ID 25.11 : 10
Recall for this ID :  100.0


Actual changes as per the Groundtruth for ID 25.43 : 16
Changes captured by the tool for ID 25.43 : 14
Recall for this ID :  87.5


Actual changes as per the Groundtruth for ID 25.41 : 13
Changes captured by the tool for ID 25.41 : 12
Recall for this ID :  92.3076923076923


Actual changes as per the Groundtruth for ID 25.44 : 3
Changes captured by the tool for ID 25.44 : 3
Recall for this ID :  100.0


Actual changes as per the Groundtruth for ID 25.64 : 11
Changes captured by the tool for ID 25.64 : 11
Recall for this ID :  100.0


Actual changes as per the Groundtruth for ID 25.28 : 1
Changes captured by the tool for ID 25.28 : 1
Recall for this ID :  100.0


Actual changes as per the Groundtruth for ID 25.19 : 1
Changes captured by the tool for ID 25.19 : 1
Recall for this ID :  100.0


Actual changes as per the Groundtruth for ID 25.17 : 1
Changes captured by the tool for ID 25.17 : 1
Recall for this ID :  100.0


Actual changes as per the Groundtruth for ID 25.65 : 7
Changes captured by the tool for ID 25.65 : 7
Recall for this ID :  100.0


Actual changes as per the Groundtruth for ID 25.61 : 6
Changes captured by the tool for ID 25.61 : 6
Recall for this ID :  100.0


Actual changes as per the Groundtruth for ID 25.45 : 4
Changes captured by the tool for ID 25.45 : 0
Recall for this ID :  0.0


Actual changes as per the Groundtruth for ID 25.29 : 11
Changes captured by the tool for ID 25.29 : 10
Recall for this ID :  90.9090909090909


Actual changes as per the Groundtruth for ID 25.62 : 3
Changes captured by the tool for ID 25.62 : 3
Recall for this ID :  100.0


Total reacall :  88.09185697343592

In [234]:
!pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (0.8.9)

In [236]:
from tabulate import tabulate
report = pd.DataFrame({'Control_ID':GT_id.keys(),'GrndTruth_changes':GT_id.values(),'LCW_captured_changes':LCW_list,'Recall_ID':IDrecall_list,'Mean_recall':Total_recall})
print(tabulate(report, showindex=False, headers=report.columns,tablefmt='grid',numalign='center'))

+--------------+---------------------+------------------------+-------------+---------------+
|  Control_ID  |  GrndTruth_changes  |  LCW_captured_changes  |  Recall_ID  |  Mean_recall  |
+==============+=====================+========================+=============+===============+
|    25.26     |         16          |           15           |    93.75    |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.21     |          9          |           8            |   88.8889   |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.27     |         22          |           18           |   81.8182   |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.63     |          6          |           6            |     100     |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.12     |          5          |           3            |     60      |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.25     |         14          |           11           |   78.5714   |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.11     |         10          |           10           |     100     |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.43     |         16          |           14           |    87.5     |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.41     |         13          |           12           |   92.3077   |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.44     |          3          |           3            |     100     |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.64     |         11          |           11           |     100     |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.28     |          1          |           1            |     100     |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.19     |          1          |           1            |     100     |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.17     |          1          |           1            |     100     |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.65     |          7          |           7            |     100     |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.61     |          6          |           6            |     100     |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.45     |          4          |           0            |      0      |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.29     |         11          |           10           |   90.9091   |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+
|    25.62     |          3          |           3            |     100     |    88.0919    |
+--------------+---------------------+------------------------+-------------+---------------+

In [232]:
report

   Control_ID  GrndTruth_changes  LCW_captured_changes   Recall_ID  Mean_recall
0       25.26                 16                    15   93.750000    88.091857
1       25.21                  9                     8   88.888889    88.091857
2       25.27                 22                    18   81.818182    88.091857
3       25.63                  6                     6  100.000000    88.091857
4       25.12                  5                     3   60.000000    88.091857
5       25.25                 14                    11   78.571429    88.091857
6       25.11                 10                    10  100.000000    88.091857
7       25.43                 16                    14   87.500000    88.091857
8       25.41                 13                    12   92.307692    88.091857
9       25.44                  3                     3  100.000000    88.091857
10      25.64                 11                    11  100.000000    88.091857
11      25.28                  1                     1  100.000000    88.091857
12      25.19                  1                     1  100.000000    88.091857
13      25.17                  1                     1  100.000000    88.091857
14      25.65                  7                     7  100.000000    88.091857
15      25.61                  6                     6  100.000000    88.091857
16      25.45                  4                     0    0.000000    88.091857
17      25.29                 11                    10   90.909091    88.091857
18      25.62                  3                     3  100.000000    88.091857

In [230]:
group_report = report.sort_index().groupby(["Mean_recall"]).head()
group_report

  Control_ID  GrndTruth_changes  LCW_captured_changes  Recall_ID  Mean_recall
0      25.26                 16             93.750000         15    88.091857
1      25.21                  9             88.888889          8    88.091857
2      25.27                 22             81.818182         18    88.091857
3      25.63                  6            100.000000          6    88.091857
4      25.12                  5             60.000000          3    88.091857

In [214]:
def comparison(gt):
  Id_flag = 0 
  LCW_Total = 0

  LCW_Total = LCW_Total + control(gt)
  LCW_Total = LCW_Total + cntrlgrp(gt)
  LCW_Total = LCW_Total + title(gt)
  LCW_Total = LCW_Total + content(gt)
  
  return(LCW_Total)

In [215]:
def content(gt):
  LCW_Total = 0          #Local variable

  for sub_id in gt['sub_identical']:
    for sub in diff:
      if (sub['old_id'] == sub_id) & (sub['node_type'] == 'content') & (sub['status'] == 'Identical'):
        LCW_Total += 1
  for sub_id in gt['sub_added']:
    for sub in diff:
      if (sub['new_id'] == sub_id) & (sub['node_type'] == 'content') & (sub['status'] == 'Added') :
        LCW_Total += 1
  for sub_id in gt['sub_removed']:
    for sub in diff:
      if (sub['old_id'] == sub_id) & (sub['node_type'] == 'content') & (sub['status'] == 'Removed') :
        LCW_Total += 1
  for sub_id in gt['sub_modified']:
    for sub in diff:
      if (sub['old_id'] == sub_id) & (sub['node_type'] == 'content') & (sub['status'] == 'Modified') :
        LCW_Total += 1

  return(LCW_Total)

In [216]:
def control(gt):
  LCW_Total = 0        #local variable
  Id_flag = 0
  for df in diff:  
    
    if (gt["id"] == df["old_id"]) & (df['node_type'] == 'control') & (Id_flag == 0):
      
      if gt['type'] == df['status']:
        LCW_Total +=1
        Id_flag = 1
      
      Id_flag = 0
      if (df['new_id'] != '') & (df['old_id'] != df['new_id']) &  (gt['IdChange'] =='true') & (Id_flag == 0):
        LCW_Total +=1
        Id_flag = 1

    if (gt['id'] == df['new_id']) & (gt['type'] == df['status']):
      LCW_Total +=1

  return(LCW_Total)

In [217]:
def cntrlgrp(gt):
  LCW_Total = 0                 #Local variable  
  cntrl_grp = gt['id'] + '_cntlGrp'
  #print(cntrl_grp) 
  Id_flag = 0      
  for df in diff:   
        
    if (gt['Cntrl_Grp_Change'] == 'true') & (df['node_type'] == 'control_field') & (df['old_id'] == cntrl_grp) & (Id_flag == 0) : 
       
      if df['status'] == 'Modified':
        LCW_Total +=1
        Id_flag = 1
  return(LCW_Total)

In [218]:
def title(gt):
  LCW_Total = 0                 #Local variable
  title = gt['id'] + '_title'
  #print(title)   
  Id_flag = 0    
  for df in diff:   
       
    if (gt['Title_Change'] == 'true') & (df['node_type'] == 'control_field') & (df['old_id'] == title) & (Id_flag == 0): 
       
      if df['status'] == 'Modified':
        LCW_Total +=1
        Id_flag = 1
  return(LCW_Total)